.loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(256, 256, 256, 0.523);
    z-index: 9999999;
    display: grid;
    justify-content: center;
    align-items: center;
}

.loader-container {
    width: 80px;
    height: 80px;
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.loadership {
    display: flex;
    position: relative;
    width: 46px;
    height: 60px;

}

.loadership div {
    position: absolute;
    width: 6px;
    height: 20px;
    background: #764ba2;
    top: 20px;
    animation: loadership_scale 1.8s infinite, loadership_fade 1.8s infinite;
    animation-timing-function: ease-in-out;
}

.loadership div:nth-child(1) {
    animation-delay: 0.00s;
    left: 0px;
}

.loadership div:nth-child(2) {
    animation-delay: 0.16s;
    left: 10px;
}

.loadership div:nth-child(3) {
    animation-delay: 0.32s;
    left: 20px;
}

.loadership div:nth-child(4) {
    animation-delay: 0.48s;
    left: 30px;
}

.loadership div:nth-child(5) {
    animation-delay: 0.64s;
    left: 40px;
}

@keyframes loadership_scale {

    0%,
    44.44444444444445%,
    100% {
        transform: scaleY(1);
    }

    22.222222222222225% {
        transform: scaleY(3);
    }
}

@keyframes loadership_fade {

    0%,
    44.44444444444445%,
    100% {
        opacity: 1;
    }

    22.222222222222225% {
        opacity: 1;
    }
}


